<div class="container-fluid px-3" style="box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.2);
 width: 100%;
 height: 80px;">
    <div class="row">
        <div class="col-md-1">
            <img src="../../assets/NoPath - Copy.png" style="top: 20px;
            
            width: 80px;
            height: 80px;">
        </div>
        <div class="col-md-1 text-left ">
            <img class="logo" src="../../assets/gkl.png" style="margin-top: 5px;
            width: 70px;
            height: 70px;">
        </div>
        <div class="col-md-5">
            <h6 style="font: normal normal bold 20px/24px Segoe UI;margin-top: 12px;">Kaveri Online Services</h6>
            <span>Department of Stamps and Registration,Government of Karnataka</span>
        </div>
        <div class="col-md-1">
            <p style="margin-top:25px;font: normal normal normal 16px/21px Segoe UI;
            letter-spacing: 0px;
            color: #000000;margin-left:220px;">Hello,User</p>
        </div>
        <div class="col-md-1" style="margin-left:160px;">
            <img src="../../assets/bell.png" style="margin-top: 28px;margin-left: 55px;">
        </div>
        <div class="col-md-1">
            <button type="button" class="btn btn-primary" style="background-color:#0A429B;margin-top: 20px;">LogOut</button>
      </div>


<div class="container-fluid px-0">
    <div class="row">
        <div class="col-md-3 Registration">
            <h6 style="padding-top: 15px;padding-bottom: 15px;padding-left: 20px;font-weight: bold;">Start Registration</h6><hr size="4"width="104%">
            <div class="row">
                <div class="col-md-12" style="text-align: center;">
                    <h6 style="font:Segoe UI;font-weight: bold;margin-left:20px;border: 20px;">BOOK-1-Immovable Property</h6>
                    
                    <ul style="list-style-type:none; text-align: left;margin-left: 30px;">
                    <li style="color: #0A429B;font-weight: bold;" >Sale</li>
                    <li style="font:Segoe UI;">Mortage</li>
                    <li style="font:Segoe UI;">Lease</li>
                    <li style="font:Segoe UI;">Transfer</li>
                    <li style="font:Segoe UI;">Partition Deed</li>
                    <li style="font:Segoe UI;">Settlement</li>
                    <li style="font:Segoe UI;">Gift Deed</li>
                    <li style="font:Segoe UI;">Partnership</li>
                    <li style="font:Segoe UI;">Trust</li>
                    <li style="font:Segoe UI;" >Joint Development Agreement</li>
                    <li style="font:Segoe UI;">Certificate of Sale</li>
                    </ul>
                </div>
            </div>
            <hr size="4" width="104%">
            <div class="row" style="padding-top:5px;padding-bottom:5px;text-align: center;">
                <div class="col-md-12">
                    <h6 style="font:Segoe UI;font-weight: bold;">BOOK-2-Refusal Register</h6>
                </div>
            </div>
            <hr size="4" width="104%">
            <div class="row" style="padding-top:5px;padding-bottom:5px;text-align: center;">
                <div class="col-md-12">
                    <h6 style="font:Segoe UI;font-weight: bold;">BOOK-3-Testamentary Documents</h6>
                </div>
            </div>
            <hr size="4" width="104%">
            <div class="row" style="padding-top:5px;padding-bottom:5px;text-align: center;">
                <div class="col-md-12">
                    <h6 style="font:Segoe UI;font-weight: bold;">BOOK-4-Movable Property</h6>
                </div>
            </div>
        
        </div>
        <div class="col-md-9 " style="padding-left: 34px;margin-top:16px;">
                <ul class="list-group list-group-horizontal">
                  <li class="list-group-item "style="font-size:14px;padding-left: 14px;padding-right: 10px;">Document Info</li>
                  <li class="list-group-item " style="font-size:14px;padding-left: 14px;padding-right: 10px;background-color:#0A429B;color: white;">Search Property</li>
                  <li class="list-group-item"  style="font-size:14px;padding-left: 14px;padding-right: 10px;">Party Details</li>
                  <li class="list-group-item" style="font-size:16px;padding-left: 16px;padding-right: 10px;">Market  Valuation</li>
                  <li class="list-group-item" style="font-size:16px;padding-left: 16px;padding-right: 10px;">Fee Calculation</li>
                  <li class="list-group-item" style="font-size:16px;padding-left: 16px;padding-right: 10px;">Declaration</li>
                  <li class="list-group-item" style="font-size:16px;padding-left: 16px;padding-right: 10px;">Payment</li>
                  <li class="list-group-item" style="font-size:16px;padding-left: 16px;padding-right: 10px;">Summary</li>
                </ul>
                <div class="Propertytype">
                    <div class="row">
                        <div class="col-md-4">
                            <label >Select Property Type</label>
                            <select class="form-select" aria-label="Default select example" style="background-color:#F2F2F2;border: 2px solid black;width:15rem;margin-top: 10px;">
                                <option selected>value</option>
                                <option value="1">One</option>
                              </select>
                        </div>
                        <div class="col-md-4">
                            <label>Property usage Type</label>
                            <select class="form-select" aria-label="Default select example" style="background-color:#F2F2F2;border: 2px solid black;width:15rem;margin-top: 10px;">
                                <option selected >value</option>
                                <option value="1">One</option>
                              </select>
                        </div>
                        <div class="col-md-4">
                            <label> Jurisdiction of Property</label>
                            <select class="form-select" aria-label="Default select example"style="background-color:#F2F2F2;border: 2px solid black;width:15rem;margin-top: 10px;">
                                <option selected >value</option>
                                <option value="1">One</option>
                              </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label style="padding-top: 20px;"> Select Departmental Database</label>
                            <select class="form-select" aria-label="Default select example" style="background-color:#F2F2F2;border: 2px solid black;width:15rem;margin-top: 10px;">
                                <option selected>kaveri</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                              </select>
                        </div>
                        <div class="col-md-4">
    
                        </div>
                        <div class="col-md-4">
    
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
     
                        </div>
                        <div class="col-md-4">
     
                        </div>
                        <div class="col-md-4" style="margin-bottom: 20px;margin-left:44rem;">
                             <button class="btn btn-primary">Continue</button>
                        </div>
                     </div>
                </div>
                

        </div>
    </div>
</div>

<footer class="page-footer px-0" style="background-color:#0A429B;color:white;text-align:center;padding-top: 10px;">
    <div class="row">
        <div class="col-md-12">
            <p>Accessibility Statement | Terms & Conditions | Website Policies | Help | Feedback | Contact Us | Web Information Manager | FAQ | Sitemap | Visitors Analytics</p>
            <p>©2021, Department of Stamps and Registration, Karnataka</p>
        </div>
    </div>
</footer>









